@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'robotoregular', sans-serif;
    margin: 0;
}

.container{
    margin-right: 150px;
    margin-left: 150px;
    max-width: 1700px; 
}

section{
    padding-top: 100px; /*espace pour bandeau header*/
    padding-bottom: 50px;
}

p{
    color: #686c71;
    font-size: 14px;
    margin-top: 0px;
    line-height: 25px;
}

ul{
    list-style: none;
    padding: 0;
}

/*En-tête du site toujours visible*/
header{
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    top: 0;
    z-index: 10;
}

header .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #777777;
    width: 300px;
}

#main_menu li{
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex: 1;
}

#main_menu a{
    color: #777777;
    text-decoration: none;
    flex: 1;
}

/*mise en forme dynamique du menu :
hover pour survol à la souris
active pour les terminaux tactiles*/

#main_menu li:hover{
    border-top: 5px solid #5cadd3;
}

#main_menu li:hover a{
    color: black;
    margin-top: -4.8px;
}

#main_menu li:active{
    border-top: 5px solid #5cadd3;
}

#main_menu li:active a{
    color: black;
    margin-top: -4.8px;
}

/*Les images du slider sur toute la largeur de la page
Le contenu de la section (texte, flèches de défilement) est centré verticalement*/

h1{
    font-family: 'robotobold', sans-serif;
    font-size: 36px;
    margin-top: 14px;
    margin-bottom: 14px;
    line-height: 37px;
    max-width: 100%;/*précision pour IE*/
}

#accueil{
    position: relative;
}

#accueil_front{
    position: absolute;
    left:0;
    top: 0;
    color: white;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#slider{
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#slidpic{
    /*Le bloc déborde à droite et défile vers la gauche*/
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 200%; /*2 éléments*/
    transition: left 1s;
}

/*Les liens n'aparaissent pas pour éviter scroll de la page lors du clic sur les flèches de défilement*/
a.ancre{
    display: none;
}

#barre_defil div{
    width:280px;
    height: 4px;
    background-color: #5cadd3;
}

#barre_defil{
    /*A l'inverse du slider, la barre déborde à gauche
    et defile vers la droite*/
    z-index: 3;
    position: absolute;
    bottom: 4px;;
    right: 0;
    height: 4px;
    width: 200%; /*2 fois plus large que l'écran*/
    background-color: rgba(0, 0, 0, 0.1);
    transition: right 1s;
    display: flex;
    justify-content: center;
    transition: right 1s;
}

#slidpic li{
    display: inline; /*Propriété combinée aux balises de commentaires dans le HTML...*/
}

#slider #wrap2:target ~ #slidpic{
    /*on vise le lien qui a le même parent que l'objet ciblé
    afin d'éviter le scrolling automatique lorsque l'on vise une ancre*/    
    left: -100%;
}

#slider #wrap2:target ~ #barre_defil{
    /*on vise le lien qui a le même parent que l'objet ciblé
    afin d'éviter le scrolling automatique lorsque l'on vise une ancre*/    
    right: -100%;
}

#ratio{
    width: 100%; /*image de fond pour conservation du ratio*/
}

.bg{
    width: 50%; /*Pour ajuster chaque image à 50% de 200% soit 100% de la page*/
}

#chevron_left{
    z-index: 2;
    padding-left: 9px;
    padding-right: 14px;
    background-color: rgba(68, 67, 72, 0.9);
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    border-radius: 0 35px 35px 0;
    font-size: 148%;
    color: white;
}

#chevron_right{
    z-index: 2;
    padding-left: 14px;
    padding-right: 9px;
    background-color: rgba(68, 67, 72, 0.9);
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    border-radius: 35px 0 0 35px;
    font-size: 148%;
    color: white;
}

.text_acc{
    position: relative;
    bottom: 10px;
    z-index: 2;
    flex: 1;
}

#accueil p{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 20px;
    max-width: 100%;/*précision pour IE*/
}

#accueil span{
    color: #5cadd3
}

#bouton_info{
    background-color: #5cadd3;
    height: 43px;
    width: 125px;
    border-radius: 2px;
    box-shadow: 0 3px 0 #4494bb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bouton_info a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#services .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: 'robotobold', sans-serif;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.undertitle{
    font-size: 88%;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.undertitle i{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.trait{
    width: 58px;
    border-top: 1px #ebebeb solid;
}

h3{
    font-size: 17px;
    font-family: 'robotobold', sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
}

.center{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 50%;
}

#article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

/*image et texte chacun sur une moitié de page*/

#serv_list, #mainpic{
    flex: 1 0 50%;
}

#mainpic{
    text-align: center;
}

.text_serv{
    margin-top: 0px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.blue{
    color: #5cadd3;
}

.white{
    color: white;
}

.fa-circle{
    font-size: 12px;
}

.icone_serv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 62px;
    height: 62px;
    border: 1px #d7d7d7 solid;
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 100%;
}

.icone_serv .fa-circle{
    position: absolute;
    bottom: 20px;
    left: 60px;
    line-height: 20px;
    background-color: white;
}

.fa-chart-line, .fa-cubes, .fa-chart-pie{
    flex: 1 0 0;
    text-align: center;
    font-size: 150%;
}

#portfolio{
    background-color: #f5f5f5;
}

#portfolio .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
}

#filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 346px;
}

/*Mise en forme des boutons de filtres quand activé (par défaut)*/

.filtre{
    color: white;
    background-color: #5cadd3;
    border: none;
    border-bottom: 3px solid #468cad;
    margin-bottom: -3px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    z-index: 2;
    font-weight: bold;
}

#filter li{
    height: 40px;
    flex: 1 0 0;
    display: flex;
    text-align: center;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
}

.fa-sort-down{
    position: absolute;
    top: 20px;
    left: 34px;
    color: #468cad;
    z-index: 1;
}

#filt_left{
    border-radius: 3px 0 0 3px;
}

#filt_right{
    border-radius: 0 3px 3px 0;
}

/* Mise en forme des boutons de filtre quand ils sont désactivés*/

#filter .filtre:disabled{
    color: #64686d;
    background-color: #e5e5e5;
    border: none;
    margin-bottom: 0;
    font-weight: normal;
}

#filter .filtre:hover{
    color: white;
    background-color: #5cadd3;
    border-bottom: 3px solid #468cad;
    margin-bottom: -3px;
    font-weight: bold;
}

.filtre:disabled ~ .fa-sort-down{
    visibility: hidden;
}

.filtre:hover ~ .fa-sort-down{
    visibility: visible;
}

/*Portfolio sous forme de mosaïque d'éléments de taille fixe, 4 éléments max sur la largeur
et retour à la ligne automatique si page réduite. Légende semi-transparentes 
superposée aux miniatures et s'affichent au survol*/

#mosaique{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
    max-width: 1200px;
    width: 100%; /*Propriété ajoutée pour compatibilité IE 11*/
}

.tuile{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 173px;
    position: relative;
}

.tuile a{
    position: absolute;
    height: 173px;
    width: 250px;
    z-index: 3;
}

.tuile img{
    bottom: 0;
    z-index: 1;
}

.legende{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    height: 62px;
    width: 250px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.oeil{
    position: absolute;
    bottom: 40px;
    right: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    background-color: #4b9bb1;
    border: 2px white solid;
    border-radius: 100%;
}

.legende h3{
    font-size: 16px;
    color: white;
    margin-top: 7px;
    margin-bottom: 0px;
}

.legende p{
    color: white;
    font-size: 14px;
    margin: 0px;
}

.tuile:hover .legende{
    visibility: visible
}

/*Les images grand format sont masquées et s'affichent au premier plan au clic sur miniature*/

#retour_mos{
    display: none;
}

.apercu{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.apercu figure{
    /*pour centrer image verticalement sur la fenêtre*/
    margin-top: 50vh; /*marge de la moitié de hauteur viewport*/
    transform: translatey(-50%); /*remontée de la moitié de sa propre hauteur*/
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
}

.ajust{
    width: 100%
}

.legende_apercu{
    z-index: 25;
    position: relative;
}

.legende_apercu p, .legende_apercu h3{
   margin: 0;
   color: white;
}

.cross{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: black;
    border: 2px white solid;
    border-radius: 100%;
    color: white;
    text-decoration: none;
}

div.apercu{
    display: none;
}

div.apercu:target{
    display: block;
}

/*Formulaire de contact superposé à la carte, sur le côté droit de la page*/

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 100px;
    height: 650px;
}

/*Carte en arrière plan sur toute la largeur de la page*/

#mapbox{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

#formulaire{
    z-index: 5;
}

iframe{
    width: 100%;
    height: 630px;
    z-index: 1;
    border: none;
}

/*voile bleuté apposé sur la carte*/

#voile{
    position: absolute;
    background-color: rgba(92, 173, 211, 0.25);
    width: 100%;
    height: 100%;
    pointer-events: none; /*garder iframe "cliquable"*/
}

form h3{
    font-size: 23px;
    font-family: 'robotobold', sans-serif;
}

form p{
    font-size: 13.5px;
    line-height: 19px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 525px;
    width: 360px;
    margin-right: 150px;
    padding-left: 20px;
    background-color: rgba(240, 240, 240, 0.8);
}

.formulaire{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    font-family: 'robotoregular', sans-serif;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: none;
}

#bouton{
    color: white;
    background-color: #5cadd3;
    height: 32px;
    width: 116px;
    font-size: 13px;
    text-decoration: none;
    font-family: 'robotobold', sans-serif;
    border-radius: 3px;
    box-shadow: 0 3px 0 #4494bb;
    margin-bottom: 20px;
}

@media (max-width: 1280px){
    /*Diminution des marges générale pour un aspect moins étroit
    + diminution certaines tailles de police et blocs*/

    .container{
        margin-right: 50px;
        margin-left: 50px;
    }

    #portfolio .container{
        margin-right: 50px;
        margin-left: 50px;
    }
        
    h1{
        font-size: 25pt;
    }
     
    #bouton_info{
        height: 35px;
        width: 100px;
    }
    
    #bouton_info a{
        font-size: 14px;
    }

    h2{
        font-size: 25pt;
        margin-bottom: 15px;
    }
    
    .center{
        text-align: center;
        margin-bottom: 25px;
        width: 75%;
    }
    
    form{
        height: 525px;
        width: 300px;
        margin-right: 60px;
    }
    
}

@media (max-width: 1024px){
    /*Diminution certaines tailles de police et blocs*/

    h1{
        font-size: 20pt;
    }
    
    #accueil p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #article{
        align-items: center;
    }

    #mainpic img{
        width: 100%;
    }
    
/*Réduction de l'image "écran" à 1/3 de la page pour un meilleur affichage de la 
liste des services*/

    #mainpic{
        flex: 1 0 33%;
    }

    #serv_list{
        flex: 2 0 67%;
    }

/*La taille des figure est réduite. 
Les légendes sont toujours visibles (plus adapté devices tactiles)*/

    .tuile{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 140px;
    }

    .tuile a{
        height: 140px;
        width: 210.4px;
    }

    .tuile img{
        height: 140px;
    }

    .legende{
        visibility: visible;
        padding-left: 5px;
        width: 205.4px;
        height: 62px;
    }

    .legende h3{
        font-size: 14px;
    }
    
    .legende p{
        font-size: 13px;
    }
    
}

@media (max-width: 768px){
    /*L'entête  se centre (logo+menu)*/
    .container{
        margin-right: 0;
        margin-left: 0;
    }

    #portfolio .container{
        margin-right: 0;
        margin-left: 0;
    }

    p{
        font-size: 9pt;
        line-height: 20px;
    }
            
    header .container{
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    section{
        padding-top: 75px;
    }
   
    #logo{
        height: 40px;
    }

    nav{
        width: 100%
    }

    #main_menu{
        width: 100%;
        margin-top: 3px; 
        margin-bottom: 5px;
        font-size: 12px;
    }

    #main_menu li{
        height: 20px;
    }

/*ajustement des mises en forme dynamques suivant nouveau format*/

    #main_menu li:hover{
        border-top: 3px solid #5cadd3;
    }

    #main_menu li:hover a{
        margin-top: -2.8px;
    }

    #main_menu li:active{
        border-top: 3px solid #5cadd3;
    }

    #main_menu li:active a{
        margin-top: -2.8px;
    }

    h1{
        font-size: 20px;
        margin: 5px;
    }

/*masquage slider et redimensionnement accueil*/

    #accueil{
        font-size: 9pt;
        padding-bottom: 0;
        background-color: #f5f5f5;
    }

    #accueil .container{
        color: #777777;
        height: 350px;
    }

    #accueil_front{
        position: relative;
    }

    .text_acc{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ratio, #slidpic, #barre_defil{
        display: none;
    }

    #chevron_left, #chevron_right{
        visibility: hidden;
    }

    #accueil p{
        color: #777777;
        font-size: 12px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #bouton_info{
        font-size: 12px;
    }

    h2{
        font-size: 25px;
    } 

    .undertitle{
        font-size: 88%;
        width: 95%;
    }
    
    .trait{
        flex: 1;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    h3{
        font-size: 15px;
    }

    .center{
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

/*Masquage image "ecran" et redimensionnement "Services"*/

    #mainpic{
        display: none;
    }

    #serv_list{
        max-width: 80%;
        margin-top: 0;
    }

    .icone_serv{
        width: 45px;
        height: 45px;
        margin-right: 25px;
        margin-left: 5px;
    }
    
    .icone_serv .fa-circle{
        bottom: 15px;
        left: 40px;
        line-height: 15px;
        font-size: 60%
    }
    
    .fa-chart-line, .fa-cubes, .fa-chart-pie{
        font-size: 100%;
    }

    #filter{
        width: 290px;
    }

    .filtre{
        font-size: 12px;
    }

    .fa-sort-down{
        left: 27px;
    }

/*Le portfolio s'affiche sous forme de liste verticale*/

    #mosaique{
        margin-top: 10px;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .tuile{
        margin-top: 0;
        margin-bottom: 3px;
        margin-right: 0;
        margin-left: 0;
        flex: 1 0 75px;
        position: relative;
        width: 100%;
        display: flex;
        border-top: 1px solid #4494bb;
        padding-top: 3px;
        padding-bottom: 0;
    }

    .tuile a{
        height: 75px;
        width: 100%;
    }

    .tuile img{
        height: 75px;
        flex: 0 0 0;
    }

    .legende{
        position: relative;
        flex: 1 1 0;
        bottom: 0;
        padding-left: 10px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 75px;
        width: 100%;
        margin-right: 10px;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
    }

    .legende h3{
        color: #64686d;
        font-size: 13px;
        line-height: 17px;
        margin: 0;
    }
    
    .legende p{
        color: #64686d;
        font-size: 12px;
        line-height: 17px;
        margin: 0;
    }

    .oeil{
        right: 0px;
        bottom: 25px;
        height: 28px;
        width: 28px;
        font-size: 75%;
    }

/*Déplacement et réduction croix de fermeture des aperçus portfolio*/

.cross{
    top: 10px;
    right: 10px;
    font-size: 50%;
    height: 15px;
    width: 15px;
}

/*La carte s'affiche au dessus du formulaire et est réduite*/

    #contact{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
        height: auto;
    }

    #mapbox{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    iframe{
        height: 250px;
        z-index: 1;
        border: none;
    }
    
    form h3{
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0px;
    }
    
    form p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    
/*Formulaire sur toute la largeur de la page*/

    form{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #formulaire{
        padding: 0;
        width: 100%;
    }

    .formulaire{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        max-height: 120px;
        padding-right: 5px;
    }
    
    #bouton{
        width: 200px;
        margin-left: auto;
        margin-right: auto;  
        margin-bottom: 5px;
    }

}
